<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p align="right">
    Customized by <a href="{{ 'about' | relative_url }}" title="About me"><b>Csaba Makara</b></a>
    <br/>
    Based on <a href="https://github.com/nielsenramon/chalk" rel="noreferrer noopener" target="_blank" title="Download Chalk">Chalk</a>
    by <a href="https://github.com/nielsenramon" rel="noreferrer noopener" target="_blank" title="Nielsen Ramon"><b>Nielsen Ramon</b></a>
  </p>
</footer>
